$color-black: #242424;
$color-dark-black: rgb(50, 50, 50);
$color-pure-black: #000;
$color-white: #FFF;
$color-gary: #666;
$color-light-gary: #999;

/* debug */
// .selected {
//     border: 3px solid red !important;
// }

* {
    /* 不能反白 */
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -o-user-select: none;
    
    // font-family: 'Galindo', 'PingFang TC', 'Microsoft JhengHei', sans-serif;
    font-family: 'PingFang TC', 'Microsoft JhengHei', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: $color-black;
}

main,
.container {
    width: 100%;
    height: 100%;
}

/* capturing... */
.capturing {

    &.text {
        height: auto !important;

        .selected {
            box-shadow: unset;
        }

        .del {
            display: none;
        }

        .tabs-panel {
            .line {
                .line-bg {
                    &::before {
                        background-size: 73%;
                        background-position: 50% 0;
                    }
                }
            }
        }
    }
}

.text {
    background: $color-black;
    width: 90%;
    height: 70%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 10px 15px;
    font-size: 80%;
    transition: 0.3s;

    &.full {
        width: calc(100% - 18px);
    }

    /* 歌名 */
    .title {
        width: 100%;
        display: inline-block;
        padding: 5px;
        font-size: 15px;
        color: $color-white;
        letter-spacing: 2px;
    }

    /* 面板 */
    .number-panel,
    .tabs-panel {
        position: relative;
        top: 10px;
        left: 0;
        width: 100%;
        min-height: 60%;
        background-color: $color-black;
        display: none;

        &.open {
            display: block;
        }

        /* 軌道 */
        .line {
            min-height: 36px;
            border-left: 8px solid $color-white;
            position: relative;
            overflow: hidden;

            &:nth-child(odd) {
                background-color: rgba($color-white, 0.05);
            }
            &:nth-child(even) {
                background-color: rgba($color-white, 0.1);
            }

            &:hover {
                background-color: rgba($color-white, 0.2);
            }

            /* 音符 */
            .note {
                font-family: 'Galindo', sans-serif;

                /* 空格 */
                &.whitespace {
                    color: transparent;
                }
            }

            /* 刪除按鈕 */
            .del {
                position: absolute;
                right: 0;
                top: 0;
                width: 15px;
                height: 15px;
                border-bottom-left-radius: 5px;
                line-height: 15px;
                font-size: 12px;
                text-align: center;
                cursor: pointer;
                background-color: $color-white;
                transition: 0.3s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    /* 簡譜面板 */
    .number-panel {
        /* 軌道 */
        .line {
            width: 100%;
            display: inline-block;
            padding: 5px 5px 5px 10px;

            @media screen and (max-width: 991.98px) {
                padding: 5px 5px 5px 5px;
            }

            .note {
                border-radius: 5px;
                border: 1px solid transparent;
                margin-right: 2px;
                margin-bottom: 2px;
                min-width: 50px;
                height: 24px;
                line-height: 24px;
                color: $color-white;
                text-align: center;
                font-weight: 500;
                font-size: 20px;
                float: left;

                @media screen and (max-width: 991.98px) {
                    min-width: 40px;
                    font-size: 16px;
                }
            }
        }
    }

    /* 五線譜面板 */
    .tabs-panel {
        /* 軌道 */
        .line {
            width: 100%;
            height: 480px;
            display: flex;
            align-items: flex-start;
            position: relative;
            padding-left: 60px;

            /* 五線譜 */
            .line-bg {
                width: 100%;
                height: 72px; /* 1 row = 18px*4 = 72px */
                position: absolute;
                top: 207px;  /* 9px*23 = 207px */
                transform: translateY(-50%);;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                /* 五線譜左邊的圖示 */
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 10px;
                    display: block;
                    width: 50px;
                    height: 70px;
                    z-index: 8;
                    background-image: url('../image/music.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                /* 線 */
                span {
                    background-color: $color-white;
                    width: 100%;
                    height: 1px;
                    display: inline-block;
                }
            }

            /* 音符 */
            .note {
                width: 24px;
                height: 18px;  /* 1 row = 18px*4 = 72px */
                border-radius: 12px / 9px; /* 水平 / 垂直 */
                color: $color-white;
                text-align: center;
                line-height: 18px;
                position: relative;
                z-index: 1;
                margin: 0 4px;
                border: 1px solid $color-white;
                font-size: 12px;

                /* 尾巴 up */
                &::after {
                    content: '';
                    background-color: $color-white;
                    width: 1px;
                    height: 35px;
                    border-radius: 20px;
                    position: absolute;
                    top: -25px;
                    right: -1px;
                }

                /* 尾巴 down */
                &.Bb4, &.B4,
                &.C5, &.Ch5,
                &.Db5, &.D5, &.Dh5,
                &.Eb5, &.E5,
                &.F5, &.Fh5,
                &.Gb5, &.G5, &.Gh5,
                &.Ab5, &.A5, &.Ah5,
                &.Bb5, &.B5,
                &.C6, &.Ch6,
                &.Db6, &.D6, &.Dh6,
                &.Eb6, &.E6,
                &.F6, &.Fh6,
                &.Gb6, &.G6, &.Gh6,
                &.Ab6, &.A6, &.Ah6,
                &.Bb6, &.B6,
                &.C7, &.Ch7,
                &.Db7, &.D7, &.Dh7,
                &.Eb7, &.E7,
                &.F7, &.Fh7,
                &.Gb7, &.G7, &.Gh7,
                &.Ab7, &.A7, &.Ah7,
                &.Bb7, &.B7,
                &.C8 {
                    &::after {
                        top: unset;
                        right: unset;
                        bottom: -25px;
                        left: -1px;
                    }
                }



                /* 空格 */
                &.whitespace {
                    border: 2px solid rgba($color-white, 0.1);

                    &::after {
                        background-color: transparent;
                    }
                }

                /* 灰 */
                &.A0, &.Ah0 {transform: translateY(calc(9px * 51));}
                &.Bb0, &.B0 {transform: translateY(calc(9px * 50));}

                /* 咖 */
                &.C1, &.Ch1 {transform: translateY(calc(9px * 49));}
                &.Db1, &.D1, &.Dh1 {transform: translateY(calc(9px * 48));}
                &.Eb1, &.E1 {transform: translateY(calc(9px * 47));}
                &.F1, &.Fh1 {transform: translateY(calc(9px * 46));}
                &.Gb1, &.G1, &.Gh1 {transform: translateY(calc(9px * 45));}
                &.Ab1, &.A1, &.Ah1 {transform: translateY(calc(9px * 44));}
                &.Bb1, &.B1 {transform: translateY(calc(9px * 43));}

                /* 紅 */
                &.C2, &.Ch2 {transform: translateY(calc(9px * 42));}
                &.Db2, &.D2, &.Dh2 {transform: translateY(calc(9px * 41));}
                &.Eb2, &.E2 {transform: translateY(calc(9px * 40));}
                &.F2, &.Fh2 {transform: translateY(calc(9px * 39));}
                &.Gb2, &.G2, &.Gh2 {transform: translateY(calc(9px * 38));}
                &.Ab2, &.A2, &.Ah2 {transform: translateY(calc(9px * 37));}
                &.Bb2, &.B2 {transform: translateY(calc(9px * 36));}

                /* 黃 */
                &.C3, &.Ch3 {transform: translateY(calc(9px * 35));}
                &.Db3, &.D3, &.Dh3 {transform: translateY(calc(9px * 34));}
                &.Eb3, &.E3 {transform: translateY(calc(9px * 33));}
                &.F3, &.Fh3 {transform: translateY(calc(9px * 32));}
                &.Gb3, &.G3, &.Gh3 {transform: translateY(calc(9px * 31));}
                &.Ab3, &.A3, &.Ah3 {transform: translateY(calc(9px * 30));}
                &.Bb3, &.B3 {transform: translateY(calc(9px * 29));}

                /* 綠 */
                &.C4, &.Ch4 {transform: translateY(calc(9px * 28));}
                &.Db4, &.D4, &.Dh4 {transform: translateY(calc(9px * 27));}
                &.Eb4, &.E4 {transform: translateY(calc(9px * 26));}
                &.F4, &.Fh4 {transform: translateY(calc(9px * 25));}
                &.Gb4, &.G4, &.Gh4 {transform: translateY(calc(9px * 24));}
                &.Ab4, &.A4, &.Ah4 {transform: translateY(calc(9px * 23));}
                &.Bb4, &.B4 {transform: translateY(calc(9px * 22));}

                /* 淺藍 */
                &.C5, &.Ch5 {transform: translateY(calc(9px * 21));}
                &.Db5, &.D5, &.Dh5 {transform: translateY(calc(9px * 20));}
                &.Eb5, &.E5 {transform: translateY(calc(9px * 19));}
                &.F5, &.Fh5 {transform: translateY(calc(9px * 18));}
                &.Gb5, &.G5, &.Gh5 {transform: translateY(calc(9px * 17));}
                &.Ab5, &.A5, &.Ah5 {transform: translateY(calc(9px * 16));}
                &.Bb5, &.B5 {transform: translateY(calc(9px * 15));}

                /* 深藍 */
                &.C6, &.Ch6 {transform: translateY(calc(9px * 14));}
                &.Db6, &.D6, &.Dh6 {transform: translateY(calc(9px * 13));}
                &.Eb6, &.E6 {transform: translateY(calc(9px * 12));}
                &.F6, &.Fh6 {transform: translateY(calc(9px * 11));}
                &.Gb6, &.G6, &.Gh6 {transform: translateY(calc(9px * 10));}
                &.Ab6, &.A6, &.Ah6 {transform: translateY(calc(9px * 9));}
                &.Bb6, &.B6 {transform: translateY(calc(9px * 8));}

                /* 紫 */
                &.C7, &.Ch7 {transform: translateY(calc(9px * 7));}
                &.Db7, &.D7, &.Dh7 {transform: translateY(calc(9px * 6));}
                &.Eb7, &.E7 {transform: translateY(calc(9px * 5));}
                &.F7, &.Fh7 {transform: translateY(calc(9px * 4));}
                &.Gb7, &.G7, &.Gh7 {transform: translateY(calc(9px * 3));}
                &.Ab7, &.A7, &.Ah7 {transform: translateY(calc(9px * 2));}
                &.Bb7, &.B7 {transform: translateY(calc(9px * 1));}

                /* 粉 */
                &.C8 {transform: translateY(calc(9px * 0));}
            }
        }
    }

    /* 焦點 */
    .selected {
        box-shadow: 0px 0px 10px rgba($color-white, 0.7);
    }
}

/* 工具箱 */
.toolbox {
    background-color: $color-dark-black;
    width: 10%;
    height: 70%;
    overflow-y: auto;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px 15px 18px;
    transition: transform 0.3s;

    /* 關閉狀態 */
    &.closed {
        transform: translateX(calc(100% - 18px));

        #toolbox-btn::before {
            transform: rotate(180deg);
            transition-delay: 0.2s
        }
    }

    hr {
        background-color: $color-light-gary;
        margin: 15px 0;
    }

    /* 收合按鈕 */
    #toolbox-btn {
        position: absolute;
        top: 50%;
        left: 0;
        color: rgba($color-white, 0.8);
        background-color: $color-dark-black;
        width: 18px;
        height: 100%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }

        &::before {
            content: '▶';
            display: inline-block;
            height: 40px;
            text-align: center;
            font-size: 12px;
            line-height: 40px;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 10;
            transition: 0.3s;
        }
    }
    
    /* 功能按鈕 */
    .toolbutton {
        width: 100%;
        border: 1px solid rgba($color-white, 0.6);
        color: $color-white;
        text-align: center;
        padding: 7px 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
        letter-spacing: 2px;
        transition: 0.3s;

        @media screen and (max-width: 991.98px) {
            padding: 2px 0;
            border: none;
            border-radius: unset;
            font-size: 12px;
            letter-spacing: 0;
        }

        &:hover {
            background-color: rgba($color-white, 0.2);
        }

        &.selected {
            background: rgba($color-white, 0.1);
        }
    }
}

/* 鋼琴面板 */
.piano {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    overflow-y: hidden;
    overflow-x: scroll;
    background: $color-light-gary;

    .slide {
        display: none;

        @media screen and (max-width: 1024px) {
            /* piano scroll-x */
            display: block;
            pointer-events: none; /* 失去作用能力 */
        }
    }

    .group {
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 100%;
        float: left;
    }
    
    .group_left {
        position: absolute;
        bottom: 0;
        width: 14.28%;
        height: 100%;
        float: left;

        .ivory {
            width: 50%;
        }

        .ebony_0 {
            width: 28%;
        }
    }
    
    .group_right {
        position: absolute;
        bottom: 0;
        width: 7.14%;
        height: 100%;
        float: left;
        left: 364.28%;

        .ivory {
            width: 100%;
        }
    }

    /* piano height */
    .group,
    .group_left,
    .group_right {
        @media screen and (max-width: 1024px) {
            height: 80%;
        }
    }
}

/* 白鍵 */
.ivory {
    position: relative;
    background: $color-white;
    width: 14.28%;
    height: 100%;
    border-left: 1px solid $color-gary;
    float: left;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1.5;
    font-weight: 900;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }

    .key {
        display: none;
    }

    span {
        font-family: 'Galindo', sans-serif;
        position: absolute;
        bottom: 3px;
        left: 30%;
        right: 30%;
        font-size: 70%;
        color: $color-white;
        padding: 1px;
        border-radius: 5px;
    }
}

/* 黑鍵 */
.ebony-wrap {
    position: absolute;
    width: 9%;
    height: 65%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;

    span {
        font-family: 'Galindo', sans-serif;
        color: $color-white;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8vw;
    }

    .key {
        display: none;
    }

    &.ebony_0,
    &.ebony_1, 
    &.ebony_2, 
    &.ebony_3, 
    &.ebony_4, 
    &.ebony_5 {
        top: 0;
    }

    &.ebony_0 { left: 36%; }
    &.ebony_1 { left: 9.9%; }
    &.ebony_2 { left: 24.1%; }
    &.ebony_3 { left: 52.6%; }
    &.ebony_4 { left: 67%; }
    &.ebony_5 { left: 81.3%; }
}

.ebony_child {
    position: relative;
    background: $color-pure-black;
    width: 50%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    float: left;
    transition: 0.3s;

    &:hover {
        opacity: 0.8;
    }
}

/* 警告畫面 */
.warn_size {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-pure-black;
    width: 100%;
    height: 100%;
    color: $color-white;
    z-index: 99;

    @media screen and (orientation: portrait) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 50vw;
    }

    span {
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: 5px;
        text-align: center;
        padding: 0 20px;
    }
}

/* 選擇顏色區塊 */
.colorarea {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color-pure-black, 0.6);
    width: 100%;
    height: 100%;
    z-index: 10;

    .colorbox {
        position: absolute;
        z-index: 10;
        width: 50%;
        height: 50%;
        background: rgba($color-pure-black, 0.6);
        top: 20%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba($color-white, 0.3);
        padding: 20px 30px;

        @media screen and (max-width: 1024px) {
            width: 100vw;
            height: 100vh;
            padding: 10px 15px;
            border: none;
            top: 0;
            left: 0;
            transform: none;
        }

        .colortitle {
            display: block;
            text-align: center;
            padding: 10px 0 30px;
            color: $color-white;
            letter-spacing: 2px;
        }

        .colorbtn {
            width: 80px;
            height: 80px;
            border-radius: 100px;
            border: 0px solid $color-light-gary;
            float: left;
            margin-right: 15px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: 0.3s;

            @media screen and (max-width: 1024px) {
                width: 10vw;
                height: 10vw;
            }

            &:hover {
                box-shadow: 0px 0px 15px rgba($color-white, 0.8);
            }

            &.selected {
                box-shadow: 0px 0px 20px rgba($color-white, 0.9);
            }
        }

        .checkbtn,
        .cancelbtn {
            padding: 3px 12px;
            position: absolute;
            bottom: 20px;
            border: 1px solid rgba($color-white, 0.6);
            color: $color-white;
            line-height: 30px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: rgba($color-white, 0.2);
            }
        }

        .checkbtn {
            right: 105px;
        }

        .cancelbtn {
            right: 20px;
        }
    }
}

/* modal */
.modal-wrap {
    display: none;

    &.active {
        background-color: rgba($color-pure-black, 0.8);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    /* 關閉按鈕 */
    .ctr-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        color: $color-white;
        border: 1px solid $color-white;
        border-radius: 5px;
        cursor: pointer;
        padding: 6px 10px;
        transition: 0.3s;

        &:hover {
            background-color: rgba($color-white, 0.3);
        }
    }
}

/* 功能說明區塊 */
.intro-wrap {

    .intro-content {
        color: $color-white;
        border: 1px solid $color-white;
        border-radius: 10px;
        padding: 30px 50px;
        position: relative;
        max-height: calc(100% - 100px);
        // overflow: auto;
        // overflow: hidden;

        @media screen and (max-width: 1280px) {
            border: none;
            padding: 10px 20px;
            max-width: 90vw;
            max-height: 90vh;
            // overflow-y: auto;
        }

        &::-webkit-scrollbar {
            width: 0;
        }

        h4, li {
            line-height: 2;
        }

        .intro-outter-wrap {
            max-height: calc(100vh - 160px);
            overflow: hidden;

            .intro-inner-wrap {
                width: calc(100% + 17px);
                max-height: calc(100vh - 160px);
                overflow-y: auto;
            }
        }

        
    }
}

/* 輸出圖片區塊 */
.screenshot-wrap {
    position: relative;

    .msg_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        z-index: 20;
        color: $color-white;
        font-size: 30px;
    }

    .screenshot-content {
        max-width: calc(100% - 100px);
        max-height: calc(100% - 100px);
        overflow: auto;
        position: absolute;
        z-index: 30;
    }
}

/* 載入畫面 */
.loading {
    position: absolute;
    top: 0;
    left: 0;
    background: $color-pure-black;
    width: 100%;
    height: 100%;
    z-index: 20;

    img {
        position: absolute;
        width: 10%;
        top: 40%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
    }
}